body{
    background: linear-gradient(to top left, #33ccff 0%, #ff0066 100%);
    font-family: 'Andada Pro', serif;
}


.header img
{
	width: 80px;margin-left: -15px;
}

.header
{
    font-size: 60px;
}